---

- name: Stop all containers of the same name redis_node6
  docker_container:
    state: absent
    name: "redis_node6"

- name: Create a directory if it does not exist
  file:
    path: /home/vagrant/conf/7006
    state: directory
    mode: '0755'

- name: Copy Redis config file
  copy:
    remote_src: no
    src: "7006/redis.conf"
    dest: "/home/vagrant/conf/7006/redis.conf"
    owner: vagrant
    group: vagrant
    mode: '0644'

# - name: Copy Redis config file
#   copy:
#     remote_src: no
#     src: "{{ item.src }}"
#     dest: "{{ item.dest }}"
#     owner: vagrant
#     group: vagrant
#     mode: '0644'
#     with_items:
#      - "{{ files_to_copy }}"
    
    
- name: Start the container redis_node6
  docker_container:
    state: started
    name: "redis_node6"
    image: "redis:5"
    # network_mode: host
    networks: 
      - name: "redis_network"
    volumes:
      - /home/vagrant/conf/7006:/data
    command: 
      - "redis-server /data/redis.conf"
      # - "redis-cli --cluster create redis_node1:7001 redis_node2:7002 redis_node3:7003 redis_node4:7004 redis_node:7005 redis_node6:7006 --cluster-replicas 1"
    container_default_behavior: no_defaults

# - name: Copy create_cluster script file
#   copy:
#     remote_src: yes
#     src: "/vagrant/create_cluster.sh"
#     dest: "/home/vagrant/conf/7006/create_cluster.sh"
#     owner: vagrant
#     group: vagrant
#     mode: +x




###################################
# Check install docker deployments 
###################################

# show container with restarting mode
- name: Verify if containers is up redis_node6
  shell: "docker ps -aq --filter name=redis_node6 --filter status=restarting --filter status=exited --latest | wc -l"
  register: container_run_count

# Check if docker deployment is OK
- name: "Check if docker deployment is OK"
  debug:
    msg: "Container redis_node6 is OK"
  when:  container_run_count.stdout == "0"  

# Check if docker deployment is KO
- name: Check if docker deployment is KO
  fail: 
    msg: "Container redis_node6 is KO"
  when: container_run_count.stdout == "1"
